{
  "openapi": "3.0.0",
  "info": {
	"title": "Coinbase API",
	"description": "The Coinbase API",
	"version": "2.0.0"
  },
  "servers": [
	{
	  "url": "https://api.coinbase.com"
	}
  ],
  "paths": {
	"/v2/exchange-rates": {
	  "get": {
		"summary": "Get a list of current exchange rates",
		"description": "Get current exchange rates. Default base currency is USD but it can be defined as any supported currency (see Currencies endpoint). Returned rates will define the exchange rate for one unit of the base currency",
		"parameters": [{
		  "in": "query",
		  "name": "currency",
		  "schema": {
			"type": "string",
			"example": "BTC"
		  }
		}],
		"security": [],
		"tags": [
		  "Currency"
		],
		"responses": {
		  "200": {
			"description": "The currency response",
			"content": {
			  "application/json": {
				"schema": {
				  "type": "object",
				  "properties": {
					"data": {
					  "$ref": "#/components/schemas/ExchangeRateResponse"
					}
				  }
				}
			  }
			}
		  }
		}
	  }
	}
  },
  "components": {
	"schemas": {
	  "ExchangeRateResponse": {
		"type": "object",
		"example": {
		  "data": {
			"currency": "BTC",
			"rates": {
			  "AED": "36.73",
			  "AFN": "589.50",
			  "ALL": "1258.82",
			  "AMD": "4769.49",
			  "ANG": "17.88",
			  "AOA": "1102.76",
			  "ARS": "90.37",
			  "AUD": "12.93",
			  "AWG": "17.93",
			  "AZN": "10.48",
			  "BAM": "17.38"
			}
		  }
		},
		"properties": {
		  "currency": {
			"type": "string"
		  },
		  "rates": {
			"type": "object",
			"additionalProperties": {
			  "type": "string"
			}
		  }
		}
	  }
	}
  }
}
